USE [master]
GO
/****** Object:  Database [Coordinate_Registry]    Script Date: 12/07/2026 14:17:28 ******/
CREATE DATABASE [Coordinate_Registry]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Coordinate_Registry', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Coordinate_Registry.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Coordinate_Registry_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Coordinate_Registry_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Coordinate_Registry].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Coordinate_Registry]
GO
/****** Object:  User [web_user]    Script Date: 12/07/2026 14:17:28 ******/
CREATE USER [web_user] FOR LOGIN [web_user] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[PRIVATE_COORDINATES_LIST]    Script Date: 12/07/2026 14:17:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRIVATE_COORDINATES_LIST](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FullAddress] [nvarchar](100) NOT NULL,
	[Latitude] [decimal](18, 6) NOT NULL,
	[Longitude] [decimal](18, 6) NOT NULL,
	[Altitude] [decimal](18, 6) NOT NULL,
	[DateCreated] [datetime] NULL,
 CONSTRAINT [PK__REGISTER__3214EC27FB476EE4] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PRIVATE_COORDINATES_LIST] ON 

INSERT [dbo].[PRIVATE_COORDINATES_LIST] ([ID], [FullAddress], [Latitude], [Longitude], [Altitude], [DateCreated]) VALUES (1, N'112 Mercer St, Princeton, New Jersey
', CAST(40.343370 AS Decimal(18, 6)), CAST(-74.666770 AS Decimal(18, 6)), CAST(41.000000 AS Decimal(18, 6)), CAST(N'2026-07-10T16:10:57.030' AS DateTime))
INSERT [dbo].[PRIVATE_COORDINATES_LIST] ([ID], [FullAddress], [Latitude], [Longitude], [Altitude], [DateCreated]) VALUES (2, N'1870 Elm St, Austin, 89983', CAST(74.499000 AS Decimal(18, 6)), CAST(-150.919322 AS Decimal(18, 6)), CAST(1625.100000 AS Decimal(18, 6)), CAST(N'2026-07-10T16:11:28.740' AS DateTime))
INSERT [dbo].[PRIVATE_COORDINATES_LIST] ([ID], [FullAddress], [Latitude], [Longitude], [Altitude], [DateCreated]) VALUES (3, N'4790 Maple Dr, Chicago, 51840', CAST(-47.495710 AS Decimal(18, 6)), CAST(-93.134130 AS Decimal(18, 6)), CAST(126.875180 AS Decimal(18, 6)), CAST(N'2026-07-10T16:11:28.747' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[PRIVATE_COORDINATES_LIST] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__REGISTER__F2888C9687F27E57]    Script Date: 12/07/2026 14:17:28 ******/
ALTER TABLE [dbo].[PRIVATE_COORDINATES_LIST] ADD  CONSTRAINT [UQ__REGISTER__F2888C9687F27E57] UNIQUE NONCLUSTERED 
(
	[FullAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Coordinate_Triplet]    Script Date: 12/07/2026 14:17:28 ******/
ALTER TABLE [dbo].[PRIVATE_COORDINATES_LIST] ADD  CONSTRAINT [UQ_Coordinate_Triplet] UNIQUE NONCLUSTERED 
(
	[Longitude] ASC,
	[Latitude] ASC,
	[Altitude] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PRIVATE_COORDINATES_LIST] ADD  CONSTRAINT [DF__REGISTERE__DateC__09A971A2]  DEFAULT (getdate()) FOR [DateCreated]
GO
USE [master]
GO
